
.formContainer{
  height: 40vh;
  width: 40vw;
  margin: auto;
  /* background-color: #EEF2FF; */
  background-color: #E0E7FF;
  font-size: 2rem;
  padding: 1rem;
}

.formField{
    display: flex;
    flex-direction: column;
}

.formField input{
    font-size: 2rem;
    padding: 5px 10px;
    border: 2px solid #6366F1;
    outline: none;
    border-radius: 4px;
}

.textarea{
    font-size: 2rem;
    padding: 5px 10px;
    height: 20rem;
    resize: none;
    font-family: "satoshi";
    border: 2px solid #6366F1;
    outline: none;
    border-radius: 4px;
}

.publishBtn{
    background-color: #6366F1;
    padding:1rem 2rem;
    border: none;
    border-radius: 4px;
    color: #EEF2FF;
    font-size: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background .3s ease;
    /* transition: border .6s ease; */
}

.publishBtn:hover{
    background: #EEF2FF;
    color: #6366F1;
    border: 1px solid #6366F1;
}

.createdNotice{
  height: max-content;
  width: 40vw;
  margin: auto;
  background-color: #EEF2FF;
  font-size: 2rem;
  padding: 1rem;
}